body {
  padding: 2vh 8vh;
  color: black;
  background-color: #FFFFFF;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

input {
  height: 5vh;
}

.submitbutt {
  height: 8vh;
  font-size: 2vh;
  align-text: flex-end; /* Align items to the bottom */
}

.footer {
  padding-top: 15vh;
}

.navbar-nav a:hover {
  color: black;
  font-weight: bold;
}

.nav_dark .navbar-nav {
  margin-left: auto;
}

.namesec {
  padding-top: 15vh;
}

.namename {
  font-size: 5vw;
  font-weight: bold;
}

.namesum {
  padding: 1vh 0 10vh;
  font-size: 3vh;
  color: #828282;
}

.aboutsec {
  padding: 10vh 20vw;
  font-size: 2.5vh;
  font-weight: medium;
}

.optional {
  display: none;
}

.highProjH {
  font-size: 5vw;
  font-weight: bold;
  padding-bottom: 2vh;
}

.bd-placeholder-img {
  border-radius: 15px;
}

.proj_title {
  padding: 1vh 0 0 1vh;
  font-size: 2vh;
  font-weight: bold;
}

.proj_desc {
  font-size: 2vh;
  padding-left: 1vh;
  color: #828282;
}

.footname {
  font-size: 3vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.top_row {
  line-height: 3;
}

.pages {
  color: #454545;
}

.pages a {
  color: #454545;
  text-decoration: none;
}

.pages a:hover {
  color: #454545;
  text-decoration: underline;
}

.proj_sub {
  padding: 3vh 0 3vh 1vh;
  font-size: 3vh;
}

.aboutdesc {
  padding: 1vh 0 5vh;
  font-size: 3vh;
  color: #828282;
  line-height: 2;
}
.bd-placeholder-img {
  width: 100%;
  height: auto; /* This maintains the aspect ratio */
}
.resume_embed{
  padding-top: 4vh;
}
.proj_img{
  border: .5vh solid #555;
}
/* Media Queries for responsive design */
@media (max-width: 768px) {
  body {
    padding: 2vh 4vh;
  }

  .aboutsec {
    padding: 10vh 10vw;
  }

  .namename {
    font-size: 12vw;
  }

  .namesum, .proj_title, .proj_desc, .footname, .proj_sub, .aboutdesc {
    font-size: 2.5vh;
  }
}
